{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    
</head>

<body>


{% comment %} <?php include 'header.php'; ?> {% endcomment %}
<!--Page Title-->
<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'images/background/2.jpg' %});">
    <div class="auto-container">
        <div class="inner-box">
            <h1>Career</h1>
            <div class="bread-crumb"><a 
                {% comment %} href="{% url 'index' %}" {% endcomment %}
                >Home &nbsp; /</a> <span class="current">Career</span></div>
        </div>
    </div>
</section>
<!--End Page Title-->

<section class="welcome-section px-4">
    <div class="auto-container">
        <div class="row clearfix">

             <!-- Display Django messages -->
             {% if messages %}
             <div class="messages">
                 {% for message in messages %}
                     <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                 {% endfor %}
             </div>
            {% endif %}
            <!-- end Display Django messages -->

            <!--Content Column / Fact Counter Two-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <h4 class="colorred fw-6 h1">
                        Join the group at one of our affiliates
                    </h4>
                    <br>
                    <div class="text">
                        <p class="fz-17 "> At Atlanta Security, we work together with world-class content creators to produce the shows you love to watch, starting at the very beginning of the production process.</p>
                    </div>
                    <div class="text ">
                        <p class="fz-17 ">
                            It's an exciting and exhilarating ride, whether you're a field guard behind your idol or an office assistant advising producers on how best to approach their projects. We would adore having you join us! Applying to any of our offices is possible via the websites provided below.
                        </p>
                    </div>
                </div>
            </div>
            <!--Video Column-->
            <div class="column col-md-6 col-sm-12 col-xs-12">
                <div class="video-box">
                    <figure class="image">
                        <img src="{% static 'images/gallery/10.jpg' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-lightgrey px-4">
    <div class="auto-container">
        <!--Sec Title Two-->
        <div class="sec-title-two">
            <h4 class="colorred h1 fw-6 display-1">Our Associates</h4>
        </div>
        <!--End Sec Title Two-->

        <div class="row clearfix px-4">
            <!--Advantage Block-->
            <div class="advantage-block col-md-6 col-sm-6 ">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image-box">
                        <img src="{% static 'images/gallery/texas.png' %}" class="rounded-2" alt="" />
                    </figure>
                    <div class="lower-content">
                        <div class="px-3">
                            <h1 class="fw-6 lead colorred display-2">
                                Atlanta Security Texas
                            </h1>
                            <div class="text text-black fz-17">Atlanta Security extends its commitment to safety and excellence to Texas City, forging a partnership that prioritizes your peace of mind. Together, we redefine security standards, providing tailored solutions that ensure the safety and prosperity of our community. Experience a new era of protection with Atlanta Security in Texas City – where your safety is our priority
                            </div>
                            <br><br>
                            <div class="btn-box " style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px;">
                                <a 
                                {% comment %} href="{% url 'texas' %}"  {% endcomment %}
                                class="theme-btn btn-style-one px-4" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 2px; margin: 0px; padding: 6px 38px; letter-spacing: 0px; font-size: 14px;">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Advantage Block-->
            <div class="advantage-block col-md-6 col-sm-6 ">
                <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <figure class="image-box">
                        <img src="{% static 'images/gallery/northcarolina.png' %}" 
                        class="rounded-2" alt="" />
                    </figure>
                    <div class="lower-content">
                        <div class="px-3">
                            <h1 class="fw-6 lead colorred display-2">
                                Atlanta Security North Carolina
                            </h1>
                            <div class="text text-black fz-17">
                                Securing the Southeast with excellence, Atlanta Security extends its reach to the vibrant cityscape of North Carolina. Partnering with precision, we bring unparalleled protection to urban landscapes, forging a shield of safety and trust. Elevate your security standards with our collaborative commitment to safeguarding communities across Atlanta and North Carolina.
                            </div>
                            <br><br>
                            <div class="btn-box " style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px;">
                                <a 
                                {% comment %} href="{% url 'northcarolina' %}"  {% endcomment %}
                                class="theme-btn btn-style-one px-4" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 2px; margin: 0px; padding: 6px 38px; letter-spacing: 0px; font-size: 14px;">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Video Column-->
            <div class="column col-md-6 col-sm-12 col-xs-12 ">
                <div class="video-box">
                    <figure class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <img src="{% static 'images/gallery/010.jpg' %}" alt="">
                    </figure>
                </div>
            </div>
            <!--Content Column / Fact Counter Two-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <h4 class="colorred fw-6 display-1">We are hiring!</h4>
                    <br>
                    <div class="text">
                        <p class="lead fw-5 "> Talented individuals of all skill levels are wanted by our partners to join our team! Join forces with some of the top professionals in the field to make productions safer and more robust.</p>
                        <div class="btn-box " style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px;">
                            <br><br>
                            <a 
                            {% comment %} href="{% url 'contact' %}"  {% endcomment %}
                            class="theme-btn btn-style-one px-4" 
                            style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 2px; margin: 0px; padding: 6px 38px; letter-spacing: 0px; font-size: 14px;">
                                Join now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Us Section-->

<section>
    <div class="contact-form-section">
        <div class="auto-container">
            <!-- contact Form -->
            <div class="contact-form">
                <div class="group-title">
                    <h4 class="colorred h2">
                        Join Now
                    </h4>
                </div>

                <!-- Comment Form -->
                <div class="row clearfix">
                    <form method="post" action="{% url 'main:career' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="group-inner">
                                <label class="icon-label" for="field-one"><span class="fa flaticon-social"></span></label>
                                <input id="field-one" type="text" name="username" placeholder="Name" required>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="group-inner">
                                <label class="icon-label" for="field-two">
                                    <span class="fa flaticon-envelope-2"></span>
                                </label>
                                <input id="field-two" type="email" name="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="group-inner">
                                <label class="icon-label" for="field-two">
                                    <span class="fa flaticon-telephone"></span>
                                </label>
                                <input id="field-two" type="tel" name="tel" placeholder="Phone No." required>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="group-inner">
                                <label class="icon-label" for="field-two">
                                    <span class=""></span>
                                </label>
                                <input id="field-two" type="date" name="text" placeholder="Date of Birth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="group-inner">
                                <label class="icon-label" for="field-two">
                                    <span class="fa flaticon-map-marker"></span>
                                </label>
                                <input id="field-two" type="text" name="address" placeholder="Address" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <div class="group-inner">
                                <label class="icon-label" for="field-two">
                                    <span class="fa flaticon-file"></span>
                                </label>
                                <input id="field-two" type="file" name="file" placeholder="Upload File" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea class="darma" name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Comment Form -->
        </div>
    </div>
</section>
{% comment %} <?php include 'footer.php'; ?> {% endcomment %}

</body>

</html>