{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    
</head>

<body>

    {% comment %} {% include 'header.php' %} {% endcomment %}

    <!-- Page Title -->
    <section class="page-title" style="background-image:url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>CONTACT US</h1>
                <div class="bread-crumb">
                    {% comment %} <a href="{% url 'index' %}" {% endcomment %}
                    >
                        Home &nbsp; /</a> <a class="current">CONTACT US</a></div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->

    <section>
        <div class="contact-form-section">
            <div class="auto-container">

                <!-- Contact Form -->
                <div class="contact-form">

                    <div class="group-title"><h4 class="colorred h2">Fill Form for more inquiry</h4></div>

                    <!-- Comment Form -->
                    <div class="row clearfix">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                        {{ message }}

                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form method="post" action="{% url 'main:contact_us' %}">
                            {% csrf_token %} 

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-one"><span class="fa flaticon-social"></span></label>
                                    <input id="field-one" type="text" name="username" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-two"><span class="fa flaticon-envelope-2"></span></label>
                                    <input id="field-two" type="email" name="email" placeholder="Email" required>
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="darma" name="message" placeholder="Message"></textarea>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form">SEND MESSAGE</button>
                            </div>
                        </form>
                    </div>
                    <!-- End Comment Form -->

                </div>
                <!-- End Contact Form -->

            </div>
        </div>
    </section>

    <hr>

    <!-- Info Section -->
    <section class="px-4">
        <div class="auto-container">

            <h1 class="colorred h1 fw-6" style="text-align:center;">Contact us</h1>

            <div class="row clearfix px-4" style="margin:0 auto;">
                <!-- Info Block -->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <h2>VISIT US AT</h2>
                    <div class="inner-box">
                        <div class="icon-box text-white"><span class="flaticon-map"></span></div>
                        <div class="text">1755 The Exchange Se Ste #225, Atlanta, Ga 30339 USA</div>
                    </div>
                </div>

                <!-- Info Block -->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <h2>MAIL US AT</h2>
                    <div class="inner-box">
                        <div class="icon-box text-white"><span class="flaticon-envelope"></span></div>
                        <div class="text">info@atlantavipprotection.com</div>
                    </div>
                </div>

                <!-- Info Block -->
                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <h2>CALL US AT</h2>
                    <div class="inner-box">
                        <div class="icon-box text-white"><span class="flaticon-technology-1"></span></div>
                        <div class="text">470-727-3409</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Info Section -->

    <!-- Map Section -->
    <section class="map-section">
        <!-- Map Container -->
        <div class="map-outer">
            <!-- Map Canvas -->
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.21560480224!2d-84.48697732507812!3d33.909850125237064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f51108dc4f1de9%3A0xf31650280dbd6a5c!2s1755%20The%20Exchange%20SE%20Ste%20225%2C%20Atlanta%2C%20GA%2030339%2C%20USA!5e0!3m2!1sen!2sin!4v1703583399663!5m2!1sen!2sin"
                    width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

{% comment %} {% include 'footer.php' %} {% endcomment %}


</body>

</html>