{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a Quote</title>
    
</head>

<body>

    {% comment %} {% include 'header.php' %} {% endcomment %}

    <!-- Page Title -->
    <section class="page-title" style="background-image:url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>Get a Quote</h1>
                <div class="bread-crumb"><a href="index.php">Home &nbsp; /</a> <a class="current">Get a Quote</a></div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->

    <section>
        <div class="contact-form-section">
            <div class="auto-container">
                <!-- Contact Form -->
                <div class="contact-form">
                    <div class="group-title">
                        <h4 class="colorred h2">
                            Get a Quote
                        </h4>
                    </div>

                    <!-- Comment Form -->
                    <div class="row clearfix">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                        {{ message }}

                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <form method="post" action="{% url 'main:get_a_quote' %}">
                            {% csrf_token %}

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-one"><span class="fa flaticon-social"></span></label>
                                    <input id="field-one" type="text" name="username" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-two">
                                        <span class="fa flaticon-envelope-2"></span>
                                    </label>
                                    <input id="field-two" type="email" name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-three">
                                        <span class="fa flaticon-telephone"></span>
                                    </label>
                                    <input id="field-three" type="tel" name="tel" placeholder="Phone No." required>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <div class="group-inner">
                                    <label class="icon-label" for="field-four">
                                        <span class="fa flaticon-security-badge"></span>
                                    </label>
                                    <select id="field-four" class="required" name="security-type" placeholder="Security Type Needed">
                                        <option value="Security Type Needed" selected disabled>Security Type Needed</option>
                                        <option value="Armed Security">Armed Security</option>
                                        <option value="Unarmed Security">Unarmed Security</option>
                                        <option value="VIP Bodyguards">VIP Bodyguards</option>
                                        <option value="Executive Protection">Executive Protection</option>
                                        <option value="Retail Security">Retail Security</option>
                                        <option value="Event Security">Event Security</option>
                                        <option value="Residential Security">Residential Security</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="darma" name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Comment Form -->
            </div>
        </div>
    </section>

    {% comment %} {% include 'footer.php' %} {% endcomment %}
    
</body>

</html>
