{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete customer</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
  </head>

  <body>


    {% block content %}
    <h2>Delete Customer</h2>
    <p>Are you sure you want to delete customer '{{ object }}'?</p>
    <form method="post" action="{% url 'main:customer_delete' pk=object.pk %}">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'main:customer_records' %}">Cancel</a>
    {% endblock %}


<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'assets/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'assets/pages/todo/todo.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>

</body>

</html>